:root {
    --header-logo-color: #000000;
    --header-color: #FFFFFF;
    --main-title-color: #212121;
    --second-title-color: #757575;
    --main-btn-color: #FFFFFF;
    --accent-color: #2196F3;
    --footer-logo-color: #FFFFFF;
    --hero-color: #2F303A;
    --people-background-color: #F5F4FA;
}

body {
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #FFFFFF;
    color: var(--main-title-color);
}

.list {
    list-style: none;
}
 a { 
    text-decoration: none;
    color: var(--second-title-color);
}
/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */

.header-logo, 
.footer-logo {
    color: var(--accent-color);
}
.bit {
    color: var(--header-logo-color);
}
    /* header-navigation */

.menu-nav {
    width: 294px;
    height: 18,3;
}

.site-nav .link {
    color: var(--main-title-color);
}
.site-nav .link:hover {
    color: var(--accent-color);
}
.site-nav .link:focus {
    color: var(--accent-color);
}
.header-nav .link {
    color: var(--main-title-color);
}
.header-nav .link:hover {
    color: var(--accent-color);
}
.header-nav .link:focus {
    color: var(--accent-color);
}
.nav-item {
    width: 135px;
    height: 8,4;
}


/* hero */
.hero {
    background-color: var(--hero-color);
    width: 1600px;
    height: 2,6;
    
}
.hero-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hero-butt {
    color: #FFFFFF;
    background-color: var(--accent-color);
}

/*-----------prop ------------*/

.prop-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1,16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);   
}
.proper-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
}
.proper-title-top {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}
.propert-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
}
.propert-title-middle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}
.propertie-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
}
.propertie-title-middle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}
.properties-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
}
.properties-title-bottom {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}


/* work */
.work-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1,16;
    text-align: center;
    letter-spacing: 0.03em;
}

/* people */
.people {
    background-color: var(--people-background-color);
}
.people-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}
.people-one {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,18;
    color: var(--main-title-color);
}
.who-one {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1,18;
    color: var(--second-title-color);
}
.people-two {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,18;
    color: var(--main-title-color);
}
.who-two {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1,18;
    color: var(--second-title-color);
}
.people-three {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,18;
    color: var(--main-title-color);
}
.who-three {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1,18;
    color: var(--second-title-color);
}
.people-four {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,18;
    color: var(--main-title-color);
}
.who-four {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1,18;
    color: var(--second-title-color);
}
/* button */
.pointer {
    cursor: pointer;
}
/* examples */

/*-----------footer-navigation ------------*/
.footer {
    background-color: var(--hero-color);
    color: ;
}
.footer-nav .link {
    font-family: 'Roboto';
    font-style: normal;
    color: #FFFFFF;
    width: 231px;
    height: 2,8;
}

.footer-nav .link:hover {
    color: var(--accent-color);
}

.footer-nav .link:focus {
    color: var(--accent-color);
}
/* main portfolio */

/* button */
.button {

}
.button-list {

}
/* examples */

.examples {

}
.example-title {

}
.examples-list {

}
.exmp-one {

}
.exmp-title-one {

}
.exmp-two {

}
.exmp-title-two {

}
.exmp-three {

}
exmp-title-three {

}
.exmp-four {

}
.exmp-title-four {

}
.exmp-five {

}
.exmp-title-five {

}
.exmp-six {

}
.exmp-title-six {

}
.exmp-seven {

}
.exmp-title-seven {

}
exmp-eight {

}
.exmp-title-eight {

}
.exmp-nine {

}
.exmp-title-nine {
    
}