:root {
    --header-logo-color: #000000;
    --header-color: #FFFFFF;
    --main-title-color: #212121;
    --second-title-color: #757575;
    --main-btn-color: #FFFFFF;
    --accent-color: #2196F3;
    --footer-logo-color: #FFFFFF;
    --hero-color: #2F303A;
    --people-background-color: #F5F4FA;
}

body {
     font-family: Roboto,  sans-serif;
    background-color: var(--header-color);
    color: var(--main-title-color);
    font-size: 14px;
    letter-spacing: 0,03em;
}

.list {
    list-style: none;
}
 a { 
    text-decoration: none;
    color: var(--second-title-color);
}
/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */

.header-logo, 
.footer-logo {
    color: var(--accent-color);
}
.bit {
    color: var(--header-logo-color);
}
    /* header-navigation */

.menu-nav {

}

.site-nav .link {
    color: var(--main-title-color);
}
.site-nav .link:hover {
    color: var(--accent-color);
}
.site-nav .link:focus {
    color: var(--accent-color);
}
.header-nav .link {
    color: var(--main-title-color);
}
.header-nav .link:hover {
    color: var(--accent-color);
}
.header-nav .link:focus {
    color: var(--accent-color);
}
.nav-item {

}


/* hero */
.hero  {
    background-color: var(--hero-color);
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--header-color);
}
.hero-butt {
    color: var(--header-color);
    background-color: var(--accent-color);
}

/*-----------prop ------------*/

.prop-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1,16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);   
}
.proper-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
}
.proper-title-top {
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}
.propert-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
}
.propert-title-middle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}
.propertie-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
}
.propertie-title-middle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}
.properties-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
}
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}


/* work */
    font-weight: 700;
    font-size: 36px;
    line-height: 1,16;
    text-align: center;
    letter-spacing: 0.03em;
}

/* people */
.people {
    background-color: var(--people-background-color);
}
.people-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}
.people-one {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,18;
    color: var(--main-title-color);
}
.who-one {
    font-weight: 400;
    font-size: 16px;
    line-height: 1,18;
    color: var(--second-title-color);
}
.people-two {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,18;
    color: var(--main-title-color);
}
.who-two {
    font-weight: 400;
    font-size: 16px;
    line-height: 1,18;
    color: var(--second-title-color);
}
.people-three {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,18;
    color: var(--main-title-color);
}
.who-three {
    font-weight: 400;
    font-size: 16px;
    line-height: 1,18;
    color: var(--second-title-color);
}
.people-four {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,18;
    color: var(--main-title-color);
}
.who-four {
    font-weight: 400;
    font-size: 16px;
    line-height: 1,18;
    color: var(--second-title-color);
}
/* button */
.pointer {
    cursor: pointer;
}
/* examples */

/*-----------footer-navigation ------------*/
.footer {
    background-color: var(--hero-color);
    color: ;
}
.footer-nav .link {
    color: var(--header-color);
    width: 231px;
    height: 2,8;
}

.footer-nav .link:hover {
    color: var(--accent-color);
}

.footer-nav .link:focus {
    color: var(--accent-color);
}
/* main portfolio */
/* main */
.hidden {
    display: none;
}
/* filters */
.filters {
    color: var(--people-background-color);
}
.filters:hover {
    color: var(--accent-color)
}
.filters:focus {
    color: var(--accent-color)
} 
.button-list {

}
/* examples */


.example-title {

}
.examples-list {

}
.exmp-one {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
}
.exmp-title-one {
    font-weight: 400;
    font-size: 16px;
    line-height: 1,8;
    letter-spacing: 0.03em;
    color:var(--second-title-color);
}
.exmp-two {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--main-title-color);
}
.exmp-title-two {
    font-size: 16px;
    line-height: 1,8;
    letter-spacing: 0.03em;
    color:var(--second-title-color);
}
.exmp-three {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--main-title-color);
}
.exmp-title-three {
    font-size: 16px;
    line-height: 1,8;
    letter-spacing: 0.03em;
    color:var(--second-title-color);
}
.exmp-four {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--main-title-color);
}
.exmp-title-four {
    font-size: 16px;
    line-height: 1,8;
    letter-spacing: 0.03em;
    color:var(--second-title-color);
}
.exmp-five {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--main-title-color);
}
.exmp-title-five {
    font-size: 16px;
    line-height: 1,8;
    letter-spacing: 0.03em;
    color:var(--second-title-color);
}
.exmp-six {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--main-title-color);
}
.exmp-title-six {
    font-size: 16px;
    line-height: 1,8;
    letter-spacing: 0.03em;
    color:var(--second-title-color);
}
.exmp-seven {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--main-title-color);
}
.exmp-title-seven {
    font-size: 16px;
    line-height: 1,8;
    letter-spacing: 0.03em;
    color:var(--second-title-color);
}
exmp-eight {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--main-title-color);
}
.exmp-title-eight {
    font-size: 16px;
    line-height: 1,8;
    letter-spacing: 0.03em;
    color:var(--second-title-color);
}
.exmp-nine {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--main-title-color);
}
.exmp-title-nine {
    font-size: 16px;
    line-height: 1,8;
    letter-spacing: 0.03em;
    color:var(--second-title-color);
}