body {
    background-color: #FFFFFF;
    color: #212121;
}

.list {
    list-style: none;
}
a {
    text-decoration: none;
}
/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */

.logo {
    color: #2196F3;
}
.bit {
    color: #000000;
}
site-nav .link:hover {
    color: #000000;
}
link. link:hover {
    color: #000000;
}